{% extends 'base.html' %}

{% block title %}Kompas Travel{% endblock title %}

{% block content %}
{% for i in range(links|length) %}
<section>
    <div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="{{photo_links[i]}}" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4>{{titles[i]}}</h4>
                        <a href="{{links[i]}}" class="btn btn-primary" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endfor %}
{% endblock content %}