<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    &lt;div class="itp_bodycontent read__content pull-left" id="detikdetailtext"&gt; &lt;b&gt;Inggris&lt;/b&gt; -
    &lt;div&gt;Petualang asal Inggris keliling dunia seorang diri dengan menggunakan pesawat mini gyrocopter. Dalam 6
    bulan, ia menyaksikan ragam keindahan dunia walaupun juga sempat hampir kena sambar petir.
    &lt;br&gt;&lt;br/&gt;&lt;/br&gt;&lt;/div&gt;&lt;div&gt;James Ketchell, demikian nama pria tersebut. Seperti
    diberitakan oleh CNN Travel, ia baru saja mendarat di Bandara Hampshire, Inggris dan mendapat sambutan dari para
    simpatisan yang menyambutnya dengan gembira.&lt;br/&gt;&lt;br/&gt;"Saya hampir tersambar petir dan melakukan
    pendaratan darurat," kata Ketchell, mengisahkan salah satu kejadian dalam
    petualangannya.&lt;br/&gt;&lt;br/&gt;&lt;!--s:parallaxindetail--&gt;&lt;div class="clearfix"&gt;&lt;/div&gt;
    &lt;!--e:parallaxindetail--&gt;&lt;br/&gt;&lt;table class="linksisip"&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;div
    class="lihatjg"&gt;&lt;strong&gt;Baca juga: &lt;/strong&gt;&lt;a data-action="Berita Pilihan" data-category="Detil
    Artikel" data-label="List Berita"
    href="https://travel.detik.com/read/2019/10/02/112734/4730536/1382/mau-digaji-rp-31-juta-per-bulan-untuk-wisata-keliling-dunia"&gt;Mau
    Digaji Rp 31 Juta per Bulan untuk Wisata Keliling
    Dunia?&lt;/a&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br/&gt;&lt;br/&gt;&lt;/div&gt;&lt;div&gt;Gycopter,
    atau juga disebut gyroplane atau autogyro, adalah pesawat terbang kecil mirip helikopter yang ditenagai
    baling-baling di bagian belakang dan atas; baling-baling vertikal di belakang untuk mendorong maju dan baling-baling
    utama di bagian atas akan berputar karena dorongan angin untuk membuatnya tetap
    melayang.&lt;/div&gt;&lt;div&gt;&lt;br/&gt;Pesawat yang dikendarai pria berumur 37 tahun ini hanya memiliki
    jangkauan maksimum kecepatan 70 knot. Itu berarti perjalanannya berhasil ditempuh dengan waktu yang cukup
    singkat.&lt;br/&gt;&lt;br/&gt;&lt;/div&gt;&lt;div&gt;&lt;p&gt;&lt;a class="embed instagram"
    href="https://www.instagram.com/p/BzkGy3ABI0u/?utm_source=ig_embed"&gt;[Gambas:Instagram]&lt;br/&gt;&lt;/a&gt;&lt;/p&gt;&lt;/div&gt;&lt;div&gt;&lt;br/&gt;Ketchel
    mengawali petualangannya dengan melintasi daratan Eropa dan Asia, sebelum kemudian melewati Kanada dan Amerika
    Serikat. Ia terbang di atas Greendland dan Islandia, lalu berhenti untuk terakhir kali di Pulau Faroe, bagian utara
    Skotlandia.&lt;br/&gt;&lt;br/&gt;Panyak pemandangan luar biasa yang dilihat Ketchel saat mengelilingi dunia dengan
    gyrocopter. Ia berharap aksinya ini dapat menginspirasi banyak orang. &lt;br/&gt;&lt;br/&gt;&lt;br/&gt;&lt;table
    class="linksisip"&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;div class="lihatjg"&gt;&lt;strong&gt;Baca juga:
    &lt;/strong&gt;&lt;a data-action="Berita Pilihan" data-category="Detil Artikel" data-label="List Berita"
    href="https://travel.detik.com/readfoto/2019/09/17/091126/4709232/1384/1/foto-resign-kerja-pasangan-ini-keliling-dunia-naik-bus"&gt;Foto:
    Resign Kerja, Pasangan Ini Keliling Dunia Naik
    Bus&lt;/a&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br/&gt;&lt;br/&gt;"Ini luar biasa,
    ini ajaib, saya melihat banyak pemandangan yang luar biasa selama 6 bulan terakhir, ini perasaan yang luar biasa dan
    saya berharap bahwa saya berhasil mencapai tantangan saya dan menginspirasi banyak orang," kata
    Ketchell.&lt;br/&gt;&lt;br/&gt;Selain mengelilingi dunia dengan gyrocopter, ia juga pernah mendayung melintasi
    Samudera Atlantik, mendaki gunung Everest, dan bersepeda sejauh 18.000 mil mengelilingi
    dunia.&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;&lt;/div&gt; &lt;br/&gt;&lt;br/&gt;&lt;strong&gt;Simak Video "&lt;span
    id="aevp_title"&gt;Media Inggris Sebut Boris Johnson Jabat Perdana Menteri&lt;/span&gt;"&lt;/strong&gt;&lt;br/&gt;
    &lt;a class="embed video20detik" href="https://20.detik.com/embed/190724060"&gt;[Gambas:Video
    20detik]&lt;/a&gt;&lt;br/&gt; &lt;b&gt;(krs/bnl)&lt;/b&gt; &lt;div class="clearfix mb20"&gt;&lt;/div&gt; &lt;div
    class="detail_tag"&gt; &lt;a "="" href="https://www.detik.com/tag/inggris/" onclick='_pt(this, "tag", "inggris",
    "tag")'&gt;inggris&lt;/a&gt; &lt;a "="" href="https://www.detik.com/tag/keliling-dunia/" onclick='_pt(this, "tag",
    "keliling dunia", "tag")'&gt;keliling dunia&lt;/a&gt; &lt;a "="" href="https://www.detik.com/tag/gyrocopter/"
    onclick='_pt(this, "tag", "gyrocopter", "tag")'&gt;gyrocopter&lt;/a&gt; &lt;/div&gt; &lt;!-- S:newstag --&gt;&lt;div
    class="newstag"&gt; &lt;ins data-labelname="newstag" data-revive-id="0cceecb9cae9f51a31123c541910d59b"
    data-revive-zoneid="757"&gt;&lt;/ins&gt; &lt;/div&gt; &lt;!-- E:newstag --&gt; &lt;!-- S:hiddenquiz --&gt;&lt;ins
    data-labelname="hiddenquiz" data-revive-id="0cceecb9cae9f51a31123c541910d59b"
    data-revive-zoneid="2424"&gt;&lt;/ins&gt;&lt;!-- E:hiddenquiz --&gt; &lt;/div&gt;
</body>
</html>